<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TwitterScroll.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
    <!-- Twitter sign-up: https://dev.twitter.com/ -->
    <add key="TCK" value="-" />
    <add key="TCS" value="-" />
    <add key="TOT" value="-" />
    <add key="TAT" value="-" />
    <add key="count" value="50" />
  <!-- cH is casparChannel, cL is CasparCG video Layer and fL is CasparCG flashLayer-->
    <add key="cH" value="0" /> 
    <add key="vL" value="30" />
    <add key="fL" value="1" />

    <add key="IP" value="localhost" />
    <add key="Port" value="5250" />
    
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TwitterScroll.My.MySettings>
      <setting name="user" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="hash" serializeAs="String">
        <value>#hashtag</value>
      </setting>
    </TwitterScroll.My.MySettings>
  </userSettings>
</configuration>
