<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
    <!-- Twitter sign-up: https://dev.twitter.com/ -->
    <add key="twitterConsumerKey" value="7uoUF6acRAxRWwWSdPLDQU43q" />
    <add key="twitterConsumerSecret" value="nDzWSBqkGsDR3k8xYp1dRjkOQgiLl8MVCaEhAWa1SGxdwa0DVu" />
    <add key="twitterOAuthToken" value="47807160-wu8AW5Azab1IuA6ZWa8Lq67lBYGDT335kuyK0FNCI" />
    <add key="twitterAccessToken" value="ELsIuzduosFiW9IsjpStQwT6PLLceOs39IxFzWJ54YPyC" />
    <add key="count" value="50" />
  <!-- cH is casparChannel, cL is CasparCG video Layer and fL is CasparCG flashLayer-->
    <add key="cH" value="0" /> 
    <add key="vL" value="30" />
    <add key="fL" value="1" />

    <add key="IP" value="localhost" />
    <add key="Port" value="5250" />
    
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>